@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');@import '../style/colors.css';

.menu {
    margin: 3rem auto 2rem auto;
    display: flex;
    justify-content: flex-end;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size: 1rem;
}

.menu a, .menu a:link, .menu a:visited {
    color: var(--brand-shade-dark);
    text-decoration: none;
    margin-left: 2rem;
}


.menu a:hover {
    color: var(--brand-shade-light);
}

.active {
    font-weight:900;
    border-bottom: 2px solid;
    /* text-decoration: underline !important; */
}

@media only screen and (max-width: 767px) {
    .menu a {
        margin-left: 1rem !important;
        font-size: 1rem;
    }

    .menu {
        justify-content: center;
    }
}