@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.blogContainer {
    width: 90%;
    margin: auto;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
}

.blogHeader h1 {
    margin-top:3rem;
}

.blogHeader {
    font-size: 1rem;
}

.blogLine {
    margin: 2rem 0 2rem 0;
}

.bookHeader {
    margin-top: 3rem;
    text-align: left;
    font-size: 18px;
}

.bookTable {
    font-size: 18px;
}

.bookTable tr th:first-child, .bookTable tr td:first-child {
    width: 20%;
    text-align: left
}

.bookTable td {
    padding-left: 0;
    padding-top: 0;
}

.bookHeader p {
    margin-bottom: 0
}

.blogPostContent {
    font-size: 18px;
}

.blogPostContent p {
    color: var(--brand-color-dark);
}

.blogPostContent a, .blogPostContent a:link, .blogPostContent a:visited,
.bookHeader a, .bookHeader a:link, .bookHeader a:visited {
    text-decoration: none;
    color: var(--brand-shade-dark);
}

.bookHeader a:hover, .blogPostContent a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.blogPostContent hr {
    width: 10%;
    margin: 2rem auto 2rem auto;
}

@media only screen and (max-width: 767px) {
    .blogContainer {
        width: 80%;
    }

    .bookTable tr th:first-child, .bookTable tr td:first-child {
        width: 40%;
        text-align: left
    }
}