.panel {
    width: 70%;
    /* height: 15rem; */
    margin: 3rem auto 3rem auto;
    font-family: 'IBM Plex Serif';
    padding: 1.2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.panel hr {
    margin: 1rem auto 1rem auto;
    border: none;
    width: 50%;
    height:2px;
    background-color: white;
}

.panel h2 {
    font-family: 'IBM Plex Serif';
    padding: 0;
    margin: 0;
}

.demolink:link, .demolink:visited {
    color: var(--brand-shade-dark);
    text-decoration: none;
}

.demolink:hover {
    color: var(--brand-shade-light);
}

.codelink:link, .codelink:visited {
    color: var(--brand-color-dark);
    text-decoration: none;
}

.codelink:hover {
    color: var(--brand-shade-dark);
}

.codelink {
    display: inline-flex;
}

.codelink svg {
    font-size: 2rem;
}

.codelink span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}