:root {
  /* --background-color: #ffe32b; */
  /* --background-color: #eff0f3; */
  --background-color: #fafafa;

  /* --background-color: #FBDA03; */
  --text-color-light: #444444;
  --text-color-dark: #1a1a1a;


  --brand-color-light: #f7efe9;
  --brand-color-light2: #f9f9f9;
  --brand-color-dark: #3A3948;
  --brand-shade-light: #84BAB8;
  --brand-shade-dark: #09646A;
  /* --brand-accent: #D6A521; */
  --brand-accent: #ffb99f;
  --brand-accent-yellow: #e1ad01;

  /* #fcf8ef */
}