.title {
    text-decoration: none !important;
}

.blog_type_header {
    font-size: 20px;
    color: var(--brand-shade-dark);
    font-weight: 700;
}

.book_post_container {
    /* width: 80%; */
    margin-bottom: 2rem;
}

.book_post_container hr {
    margin-bottom: 8px;
}

.book_title_container {
    display: flex;
    justify-content: space-between;
}

.book_title_link_cell, .book_title_link_cell:link, .book_title_link_cell:visited {
    text-decoration: none;
    color: var(--text-color-dark);
}

.book_title_link_cell:hover {
    color: var(--brand-shade-dark);
    text-decoration: underline;
}

.read_more, .read_more:link, .read_more:visited {
    text-decoration: none;
    color: var(--brand-shade-dark);
    font-weight: 600;
}

.read_more:hover {
    text-decoration:underline;
}

.title:hover {
    color: var(--brand-shade-dark);
  }

.title {
    margin-bottom: 0;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 700px;
}


.author_date_container{
    font-size: 18px;
    color: var(--text-color-light);
    display: flex;
    margin-top: 0.2rem;
    /* margin-left:1rem; */
}

.author_date_container div {
    margin-right: 0.4rem;
}


.book_rating {
    text-align: left;
}

.blogtag {
    display: inline-flex;
    margin: 0.5rem 1rem 0rem 0rem;
    color: var(--brand-shade-dark);
    padding: 0.2rem 0.5rem;
    border-radius: 18px;
    border: 1px solid #e2e2e2;
    font-size: 0.9rem;
}

.blogtag svg {
    margin: 0.3rem 0.2rem 0rem 0rem;
}

table {
    font-size: 18px;
    color:var(--text-color-light);
    font-weight: 400;
}

td, th {
    border-bottom: 0;
    padding-bottom: 0;
    vertical-align: baseline;
}

tr th:first-child,
tr td:first-child {
  /* width: 50%; */
  width: 500px;
  word-break: break-word;
}




@media only screen and (max-width: 767px) {
    /* phone */
    .book_rating, .book_date_divider {
        display: none;
    }

    .author_date_container {
        flex-direction: column;
    }

    table {
        width: 100%;
        font-size:14px;
    }

    .title {
        width: 90vw;
        padding-right:0;
        font-size: 20px;
    }

    tr th:first-child,
    tr td:first-child {
    /* width: 50%; */
        width: 180px;
    }
}

